.badge {
    background-image: url(http://www.codecademy.com/assets/badges/default_course-fe0cc85b3f10ce1d1b1c0ed4b69c3b86.png);
	background-size:80px 80px;
}

.badge .first-lesson {
    background-image: url(http://www.codecademy.com/assets/badges/FirstLessonAchievement-0c040772341fbd53200731deaf79af7b.png);
}

.badge .exercises-10 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises10Achievement-3b6d4becc444f9e8c3bf8e1f0d40a8bf.png);
}

.badge .exercises-25 {
    background-image: url(http://www.codecademy.comhttp://www.codecademy.com/assets/badges/Exercises25Achievement-ee6ef261251795ed46daee2931ea14ea.png);
}

.badge .exercises-50 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises50Achievement-f5a6553f0bf6e31106d16b78bc65a6b5.png);
}

.badge .exercises-100 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises100Achievement-9e1923249278b30c8cf3ef5096a4a17f.png);
}

.badge .exercises-200 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises200Achievement-70c5074e6178added934892f5983df85.png);
}

.badge .exercises-500 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises500Achievement-12120b2928f197b5b0a58a4e8f1aabe6.png);
}

.badge .exercises-1000 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises1000Achievement-6c6e32af0a9cc8f63d00ef6105a6b0ea.png);
}

.badge .exercises-10000 {
    background-image: url(http://www.codecademy.com/assets/badges/Exercises10000Achievement-9fdaf0015b858548f4f1fa1286ffa1f9.png);
}

.badge .course-programming-intro {
    background-image: url(http://www.codecademy.com/assets/badges/default_course-fe0cc85b3f10ce1d1b1c0ed4b69c3b86.png);
}

.badge .course-javascript-intro {
    background-image: url(http://www.codecademy.com/assets/badges/JavaScriptIntroCourseAchievement-4d940be55fed4001bbca4fe33684e0b1.png);
}

.badge .course-building-an-address-book {
    background-image: url(http://www.codecademy.com/assets/badges/AddressBookCourseAchievement-2765cb59770b9521be8ddd2c984db2dc.png);
}

.badge .course-functions-in-javascript-2-0 {
    background-image: url(http://www.codecademy.com/assets/badges/FunctionsInJavaScriptCourseAchievement-5434fa97353f764d493b315ab7a0152d.png);
}

.badge .course-hello_new_york {
    background-image: url(http://www.codecademy.com/assets/badges/HelloNewYorkCourseAchievement-98ccf3df7fcc36d62e63a52250efba91.png);
}

.badge .course-functions_in_javascript {
    background-image: url(http://www.codecademy.com/assets/badges/FunctionsInJavascript2CourseAchievement-b1f23d1f0fa83f74540cc8dad3d09f68.png);
}

.badge .course-calculating-the-costs-of-running-a-business {
    background-image: url(http://www.codecademy.com/assets/badges/StartupCostCourseAchievement-72cf6471efcbf1ec4d39b5a76093a1e4.png);
}

.badge .course-olympic-trials {
    background-image: url(http://www.codecademy.com/assets/badges/OlympicTryoutsCourseAchievement-53219e07cb9c960ff9839fb17b84de57.png);
}

.badge .course-blackjack-part-1 {
    background-image: url(http://www.codecademy.com/assets/badges/BlackjackCourseAchievement-1e86ccacdb6de4671fc1764df11991cc.png);
}

.badge .course-blackjack-part-2 {
    background-image: url(http://www.codecademy.com/assets/badges/Blackjack2CourseAchievement-bd523c9dce8c07406ad9f473a1529d29.png);
}

.badge .course-blackjack-part-3 {
    background-image: url(http://www.codecademy.com/assets/badges/BlackjackFinalCourseAchievement-f0c155ab9fa5186e6ab4843a6655cd9e.png);
}

.badge .course-cash-register-mark-ii {
    background-image: url(http://www.codecademy.com/assets/badges/CashRegisterCourseAchievement-8cb5ffcb0494a5a7199da946ca9255f1.png);
}

.badge .course-conditionals-in-javascript {
    background-image: url(http://www.codecademy.com/assets/badges/ConditionalsCourseAchievement-dbe6e0d99219434399f4877528e4e10b.png);
}

.badge .course-conditionals-application {
    background-image: url(http://www.codecademy.com/assets/badges/PigCourseAchievement-b139b905393282e7bd67135333528c71.png);
}

.badge .course-primitives-development-course {
    background-image: url(http://www.codecademy.com/assets/badges/PrimitivesCourseAchievement-a5aaee0834a4c304342e567f3b79c20b.png);
}

.badge .course-spencer-sandbox {
    background-image: url(http://www.codecademy.com/assets/badges/ObjectsJavascriptCourseAchievement-13350da62db8298aa2b05b2e2651b37c.png);
}

.badge .course-objects-ii {
    background-image: url(http://www.codecademy.com/assets/badges/ObjectsJavascript2CourseAchievement-1cb9b4c2625c709212124671fc22496a.png);
}

.badge .course-fizzbuzz-return-of-the-modulus {
    background-image: url(http://www.codecademy.com/assets/badges/FizzBuzz++CourseAchievement-a1e320add55623571e2bd8a576922954.png);
}

.badge .course-fizzbuzz {
    background-image: url(http://www.codecademy.com/assets/badges/FizzBuzzCourseAchievement-1c5ae2b8d6be4a7b0632acae9e0537cc.png);
}

.badge .course-dice-game-part-2-getting-dicey {
    background-image: url(http://www.codecademy.com/assets/badges/GettingDiceyCourseAchievement-71255fbcd965fe23444149fb465912d4.png);
}

.badge .course-intro-to-object-oriented-programming {
    background-image: url(http://www.codecademy.com/assets/badges/ObjectsJavascriptCourseAchievement-13350da62db8298aa2b05b2e2651b37c.png);
}

.badge .course-html-one-o-one {
    background-image: url(http://www.codecademy.com/assets/badges/HTML5ProjectAchievement-70683d9be66c6456849661bfc01289e8.png);
}

.badge .course-week-3-html-project {
    background-image: url(http://www.codecademy.com/assets/badges/HTML5CourseAchievement-570659df96390f64e873e07d6cc528e9.png);
}

.badge .python,.badge[class*=python] {
    background-image: url(http://www.codecademy.com/assets/badges/PythonAchievement-51cff9ad803ded7d2c8dbe85e8388767.png);
}

.badge .ruby,.badge[class*=ruby] {
    background-image: url(http://www.codecademy.com/assets/badges/RubyAchievement-032208544f3ab13ceed36d7638a6e4d5.png);
}

.badge .php,.badge[class*=php] {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .web,.badge[class*=web] {
    background-image: url(http://www.codecademy.com/assets/badges/HTML5CourseAchievement-570659df96390f64e873e07d6cc528e9.png);
}

.badge .course-web-beginner-en-StaFQ {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-QF3Wb {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-jZv2E {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-8a35h {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-L83Do {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-5YvPF {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-7I7Xm {
    background-image: url(http://www.codecademy.com/assets/badges/PHPAchievement-12e08131bb938e4f646ab191390aed79.png);
}

.badge .course-web-beginner-en-bay3D {
    background-image: url(http://www.codecademy.com/assets/badges/jQueryCourseAchievement-2b234f980503c8f9c9cac6fed4be0c6c.png);
}

.badge .course-web-beginner-en-GfjC6 {
    background-image: url(http://www.codecademy.com/assets/badges/jQueryCourseAchievement-2b234f980503c8f9c9cac6fed4be0c6c.png);
}

.badge .course-web-beginner-en-v6phg {
    background-image: url(http://www.codecademy.com/assets/badges/jQueryCourseAchievement-2b234f980503c8f9c9cac6fed4be0c6c.png);
}

.badge .course-web-beginner-en-JwhI1 {
    background-image: url(http://www.codecademy.com/assets/badges/jQueryCourseAchievement-2b234f980503c8f9c9cac6fed4be0c6c.png);
}

.badge .course-web-beginner-en-jtFIC {
    background-image: url(http://www.codecademy.com/assets/badges/jQueryCourseAchievement-2b234f980503c8f9c9cac6fed4be0c6c.png);
}

.badge .course-ruby-beginner-en-pEdhY {
    background-image: url(http://www.codecademy.com/assets/badges/rubyAPICourseAchievement-d9b584d60ede8e6cfcc3f1025685f408.png);
}

.badge .course-python-intermediate-en-6zbLp {
    background-image: url(http://www.codecademy.com/assets/badges/pythonAPICourseAchievement-1fbabafa559e2d1a51c25bd6e29a6bc6.png);
}

.badge .course-javascript-beginner-en-EID4t {
    background-image: url(http://www.codecademy.com/assets/badges/javascriptAPICourseAchievement-faa97e9bd6d08a7cffe88f6b94fb27e4.png);
}

.badge .course-javascript-intermediate-en-757J2 {
    background-image: url(http://www.codecademy.com/assets/badges/youTubeAPICourseAchievement-1bc4477edcc896735a5ecefae229a236.png);
}

.badge .course-python-intermediate-en-D56TP {
    background-image: url(http://www.codecademy.com/assets/badges/sunlightAPICourseAchievement-bd6fa08138c9c3b2ef8bb9d3aee552ea.png);
}

.badge .course-python-intermediate-en-NwwHi {
    background-image: url(http://www.codecademy.com/assets/badges/nprAPICourseAchievement-b19dd9df7d4537fb294519ab9ccc015f.png);
}

.badge .course-python-beginner-en-kZLgV {
    background-image: url(http://www.codecademy.com/assets/badges/bitlyAPICourseAchievement-3eb2452680fca5a70cde4c1b20714e8f.png);
}

.badge .course-web-advanced-en-tmHcy {
    background-image: url(http://www.codecademy.com/assets/badges/twilioAPICourseAchievement-4d59123dd92a140964df89b7ff9c6218.png);
}

.badge .course-web-beginner-en-B8H1e {
    background-image: url(http://www.codecademy.com/assets/badges/parseAPICourseAchievement-e1b4cb72d4440e38f3554d26882e0042.png);
}

.badge .course-web-intermediate-en-5R2J0 {
    background-image: url(http://www.codecademy.com/assets/badges/parseAPICourseAchievement-e1b4cb72d4440e38f3554d26882e0042.png);
}

.badge .course-web-intermediate-en-8CWkI {
    background-image: url(http://www.codecademy.com/assets/badges/parseAPICourseAchievement-e1b4cb72d4440e38f3554d26882e0042.png);
}

.badge .course-javascript-beginner-en-XNwEp {
    background-image: url(http://www.codecademy.com/assets/badges/sendgridAPICourseAchievement-88d044a7531b009918cf355aaade6a52.png);
}

.badge .course-python-beginner-en-sACMO {
    background-image: url(http://www.codecademy.com/assets/badges/placekittenAPICourseAchievement-648c31a54ce38a3e94c8f7ed62fe060a.png);
}

.badge .course-javascript-intermediate-en-txGOj {
    background-image: url(http://www.codecademy.com/assets/badges/soundcloudAPICourseAchievement-ffdfd33d06d77a30e5738acd031750fe.png);
}

.badge .course-ruby-beginner-en-0K1BS {
    background-image: url(http://www.codecademy.com/assets/badges/wepayAPICourseAchievement-451d87c79af1273bdd943ec8697b2f2a.png);
}

.badge .course-python-beginner-en-45kLc {
    background-image: url(http://www.codecademy.com/assets/badges/wepayAPICourseAchievement-451d87c79af1273bdd943ec8697b2f2a.png);
}

.badge .course-ruby-intermediate-en-rUwFe {
    background-image: url(http://www.codecademy.com/assets/badges/twitterAPICourseAchievement-b0f516c04e4980c669f53fa64af1f6c5.png);
}

.badge .course-ruby-intermediate-en-6Y7Uu {
    background-image: url(http://www.codecademy.com/assets/badges/boxAPICourseAchievement-77d0b997d92572c58688d1054212f16c.png);
}

.badge .course-ruby-intermediate-en-dFyvs {
    background-image: url(http://www.codecademy.com/assets/badges/evernoteAPICourseAchievement-d2d4d421a678a2e8e85e57fb90078ef2.png);
}

.badge .course-web-intermediate-en-9z6A0 {
    background-image: url(http://www.codecademy.com/assets/badges/skydriveAPICourseAchievement-fc7a79398932da88ffb85de8212b9085.png);
}

.badge .course-ruby-intermediate-en-y6Vb0 {
    background-image: url(http://www.codecademy.com/assets/badges/23andmeAPICourseAchievement-3576cf83f093746c10134002d2706ccd.png);
}

.badge .course-web-intermediate-en-NJVrc {
    background-image: url(http://www.codecademy.com/assets/badges/mashapeAPICourseAchievement-8bdce90468621c217575712be9615117.png);
}

.badge .course-javascript-beginner-en-yFtkI {
    background-image: url(http://www.codecademy.com/assets/badges/giltAPICourseAchievement-d6c51317348c6b625357edf5c291c839.png);
}

.badge .course-python-beginner-en-kzt37 {
    background-image: url(http://www.codecademy.com/assets/badges/ordrinAPICourseAchievement-edbfc213c0662017fde62d5329fc3a6d.png);
}

.badge .course-javascript-intermediate-en-0OF2R {
    background-image: url(http://www.codecademy.com/assets/badges/firebaseAPICourseAchievement-a5c3949ebb0c6f5a92181c5c6669aa92.png);
}

.badge .course-javascript-beginner-en-YJ1vk {
    background-image: url(http://www.codecademy.com/assets/badges/easypostAPICourseAchievement-b22ed8ea3246be7f32a06a6c1691b351.png);
}

.badge .course-ruby-beginner-en-ifzi3 {
    background-image: url(http://www.codecademy.com/assets/badges/oauth2APICourseAchievement-a5eaefe88919aad3ee6d641c3e1330c1.png);
}

.badge .course-web-intermediate-en-hwulM {
    background-image: url(http://www.codecademy.com/assets/badges/mandrillAPICourseAchievement-4936e7c67139f4d3af691fd9c72af6d4.png);
}

.badge .course-python-beginner-en-7rR6S {
    background-image: url(http://www.codecademy.com/assets/badges/dwollaAPICourseAchievement-b9c2cd7baf3368cbd56d8720db0d0c5f.png);
}

.badge .loyalty {
    background-image: url(http://www.codecademy.com/assets/badges/loyaltyAchievement-f919464c1415d723f5237501dec77203.png);
}