@import url(fonts.css);

body {
    overflow-y: scroll;
}

body,
html {
    background: url(../images/binary.png);
    color: #242424;
    font: normal 400 1em 'Habibi', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.25;
}

a:link,
a:active,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

#wrap {
    background: #FEFEFE;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
    box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.18);
    margin:0 auto -70px;
    max-width: 2700px;
    min-height: 100%;
    min-width: 42em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80vw;
}

/** HEADER **/
header {
    background: #E18A07;
    background-image: linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -o-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -moz-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -webkit-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -ms-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.08, #D49F51), color-stop(0.54, #E18A07));
    height: 7em;
    margin: 0 auto;
    padding: 0;

}

header h1 {
    font: normal small-caps 200 3em 'Roboto', sans-serif;
    letter-spacing: 0.075em;
    text-shadow: .1em .1em 3px #C50;
    white-space: nowrap;
    color: #FEFEFE;
    float: left;
    margin: 0 0 0 .25em;
}

#contact {
    float: left;
    font-size: 3em;
    list-style: none;
    padding: 0;
    margin: .15em 0 0 .75em;
}

#contact li {
    display: inline;
    margin: 0;
    
}

#contact li a:link {
    border-radius: 11px;
    color: #ECECEC;
    text-shadow: .05em .05em 3px #C50;
    padding: 0 8px;
    margin:  5px 0 0 5px;
    height: 50px;
    float: left;
    transition: all 0.2s ease;
}

#contact li a:visited {
    color: #ECECEC;
}

#contact li a:hover {
    text-decoration: none;
    text-shadow: .15em .15em 5px #C50;
    margin: 0 5px 5px 0;
}

nav {
    box-shadow: inset 0px -0.375em 0.375em -0.375em rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #C50;
    color: #FEFEFE;
    font: normal 700 1em 'Open Sans', serif;
    height: 1.75em;
    margin: -1.75em 0 0 0;
    position: relative;
    text-align: right;
}

nav ul {
    list-style: none;
    height: inherit;
    margin: 0 1em 0 0;
    padding: 0;
    float: right;
}

nav li {
    background: transparent;
    display: inline;
    margin: 0;
    padding: 3px 15px;
    transition: background 0.4s ease;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
    border-bottom: 2px solid #C50;
}

nav li:hover {
    background: #C50;
    cursor: hand;
    cursor: pointer;
    
}


nav .selected {
    background: #FEFEFE;
    box-shadow: 0.1875em -0.125em 0.375em -0.125em rgba(0, 0, 0, 0.5);
    color: #222;
    border: 2px solid #C50;
    border-bottom: none;
    z-index: 3;
}

nav .selected:hover {
    background: #FEFEFE;
}

/* for blog menu item */
nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
    color: inherit;
    text-decoration: none;
}


/*** Pages ***/
.page > h2 {
    color: #E18A07;
    font: normal 400 1.5em 'Ubuntu Mono', monospace;
    margin: 2em 0 1em 1em;
    text-align: left;
}

.page > p {
    margin: .5em 2em;
}


/*** Sections ***/
section {
    margin: 0 auto 26px;
    padding: 0 2em;
    min-width: 180px;
    position: relative;
    margin: 0 0 85px 0;
}

section h2 {
    background: #FEFEFE;
    color: #E18A07;
    float: left;
    font: normal 400 1.5em 'Ubuntu Mono', monospace;
    margin: 1em 0 1em 0;
    text-align: left;
    position: relative;
}

section h2 a:link,
section h2 a:active,
section h2 a:visited,
section h2 a:hover {
    color: inherit!important;
    text-decoration: none!important;
}

section h2 .more-info {
    color: black;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .65em;
    transition: all 0.4s ease;
}

.page a:link,
section a:link {
    color: #5366F3;
    text-decoration: none;
}

.page a:hover,
section a:hover {
    color: #A5ADEB;
    text-decoration: underline;
}

.page a:visited,
section a:visited {
    color: #868686
}


/*** Summary Page***/
#latest-activity h3 {
    clear: both;
    float: left;
    margin: 0 0 0 1em;
}

#latest-activity .date {
    float: left;
    font: normal 400 .9em 'Ubuntu Mono', monospace;
    margin: .4em 0 0 .5em;
}

#latest-activity .description {
    clear: both;
    margin: 0 0 1em 2em;
}

.project-summary {
    border: 1px solid #ccc;
    border-radius: .5em;
    clear: both;
    margin: 1em 0 0 0;
    transition: all .5s linear;
    min-height: 15.375em;
    padding: .5em;
    cursor: hand;
    cursor: pointer;
}

.project-summary:hover {
    background: #efefef;
    border: 1px solid #777;
    
}

.project-summary h3 {
    margin: 0 0 0 0.5em;
}

.project-summary img {
    float: right;
width: 200px;
padding: .25em;
border: 1px solid #CCC;
margin: .5em 0 0 .5em;
}




/*** Activity Table ***/
table {
    border: 1px solid #c50;
    border-collapse: collapse;
    font: normal normal 400 0.8em 'Open Sans', san-serif;
    margin: 0 auto;
    width: 75vw;
}

table td {
    border: 1px solid #c50;
    padding: 4px;
    vertical-align: middle;
}

td:nth-child(1) {
    font-size: 2em;
    width: 10px;
}

td:nth-child(1) a:link,
td:nth-child(1) a:visited {
    color: #C50;
    text-decoration: none;
}

td:nth-child(1) a:hover {
    color: #E18A07;
}

table p,
table img {
    float: left;
    line-height: .5;
}

table em {
    font: italic normal 400 0.95em 'Open Sans', san-serif;
}

table tr:nth-child(even) {
    background: #CFCFCF;
}


/** FOOTER **/
footer {
    clear: both;
    color: #ECECEC;
    height: 50px;
    margin: -79px auto 0;
    padding: 5px 0;
    min-width: 180px;
    width: 80vw;
}

footer section {
    width: 75vw;
}

footer h2 {
    color: #ccc;
    float: right;
    font: normal normal 200 1.4em 'Roboto', sans-serif;
}





/* Single column for anything less than ~896px */
/* For two columns, between ~896px and ~1600px */
@media all and (min-width: 78em) {
    section {
        float: left;
    }
    
    section + section {
        float: right;
        padding: 0 2vw 0 0;
        width: 48.3vw;
    }


}
