/*
Google WebFont's imports
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Habibi);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/UbuntuMono-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Habibi';
  font-style: normal;
  font-weight: 400;
  src: local('Habibi'), local('Habibi-Regular'), url(../fonts/Habibi-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/Roboto-Thin.woff) format('woff');
}


/** Page **/
@page {
    margin: 1cm;
}

html {
    overflow-y: scroll;
}

body {
    color: #242424;
    font: normal 400 1em 'Habibi', serif;
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0 auto;
    width: 45em;
}

/* name, matches jamespryor.net */
h1 {
    float: left;
    font: normal small-caps 200 3em 'Roboto', sans-serif;
    letter-spacing: 0.075em;
    margin: -25px 7px 10px -2px;
    text-shadow: .1em .1em 3px #DBDBDB;
    text-transform: lowercase;
    width: 458px;
}

/* objective statement */
h1 + p {
    clear: left;
    float: left;
    margin: 0 60px 70px 0;
    width: 408px;
}

pre {
    margin: 0 0 34px 0;
}

/* common for h2 heading, matches jamespryor.net */
h2 {
    color: #E18A07;
    font: normal 400 1.5em 'Ubuntu Mono', monospace;
    margin: 0;
    position: relative;
    text-align: left;
}

#achievements {
    clear: left;
    float: left;
    width: 345px;
}

#achievements + ul {
    clear: left;
    float: left;
    margin: 16px 0 47px 0;
    padding: 0 45px 0 30px;
    width: 304px;
}

#expereience + ul {
    width: 345px;
}

/* word search blurb */
#resume-content > p:nth-child(10) {
    font-size: .79em;
    margin: 24px auto;
    width: 600px;
}

#notable-history,
#references {
    margin: 32px 0 0 46px;
}

/* history */
h3 {
    margin: 16px 0 0 62px;
}

h3 + p {
    margin: -16px 0 0 76px;
}

strong {
    float: right;
    font: normal 400 1em 'Ubuntu Mono', monospace;
    margin: -2px 80px 0 0;
}


#references + p {
    margin: 16px 0 0 62px;
}

