@import url(font-overpass.css);
@import url(ionicons.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);

/* most links */
a {
    color: #CC5500;
}

a:hover {
    color: #CC5500;
    text-decoration: underline;
}

/* headers and their links */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #CC5500;
    font-family: 'overpass';
    font-weight: 400;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #515151;
    text-decoration: none;
}

/* page elements */
body {
    background-image: url(../images/M16_hubble_v2a_huge.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 75rem;
}

/* logo */
.masthead-title {
    margin: 0 0 1px 0;
}

.masthead small {
    font-size: 75%;
    font-weight: 400;
    color: #C0C0C0;
    letter-spacing: 0
}

/* navigation */
nav {
    display: block;
    float: right
}

nav ul {
    list-style: none;
    padding: 0
}

nav ul li {
    display: inline;
    padding-left: 10px
}

nav ul li a {
    font-size: 17px
}

/* contact */
#contact {
    font-size: 33px;
    list-style: none;
    padding: 0
}

#contact li {
    display: inline;
    padding-left: 10px
}

.cms_main {
    clear: both;
}

article.post {
    background: rgba(240, 248, 255, 0.64);
}
